/* Site Stylesheet
  1. Global Styles
  2. Typography
  3. Header & Navigation
  4. Page Structure
  5. Footer
  6. Utilities
  7. Media Queries
======================================== */

/* 1. Global Styles
======================================== */

/* 

--NOTE--

Remember, every element has a default margin and padding applied to them.
Remove margin and padding from HTML tags to make them more consistent on multiple browsers.

Use max-width on paragraphs to keep text readable
@media (min-width: 58em) {
	p {
    max-width: 38em; | ~ 65-70 characters
  }
}

Use https://responsivebreakpoints.com/ for responsive images.
Learn more about responsive images at https://css-tricks.com/a-guide-to-the-responsive-images-syntax-in-html

*/

:root {
  --white: #ffffff;
  --black: #000000;
  --base-size: 1rem;
  --scale: 1.2;
  --heading-font: "Poppins", Arial, sans-serif;
  --body-font: "Lora", Georgia, serif;
  --h6: calc(var(--base-size) * var(--scale));
  --h5: calc(var(--h6) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h1: calc(var(--h2) * var(--scale));
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 1.6;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

figure {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

/* * {
    border: 1px solid red;
} */

/* 2. Typography
======================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: var(--heading-font);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.022rem;
}

h1 {
  font-size: var(--h1);
  margin-bottom: 3.5rem;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

small,
.text_small {
  font-size: calc(var(--base-size) / var(--scale));
}

/* 3. Header & Navigation
======================================== */

/* Alway display your links as block when inside nav */

.header {
  background-color: #e9d8a6;
  min-width: 320px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0.75rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

nav li {
  flex-basis: 48%;
  margin-bottom: 0.5rem;
  font-family: var(--heading-font);
  font-weight: 400;
}

/* nav li:first-child {
    margin-right: auto;
} */

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
  & a {
    color: black;
    background-color: transparent;
  }
}

nav a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  background-color: red;
  display: block;
  padding: 0.5rem;
  border-radius: 0.75rem;
  text-align: center;
  &:hover {
    background-color: black;
    color: #e9d8a6;
  }
}

/* 4. Page Structure
======================================== */

.wrapper {
  max-width: 73.5rem; /* 1176px */
  min-width: 20rem;
  margin: 0 auto;
  padding: 0 1.5rem; /* 24px */
}

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: var(--heading-font);
  font-size: 1.2rem;
  color: var(--black);
  font-weight: 500;
  background-color: lightgray;
  width: 168px;
  height: 48px;
  border-radius: 8px;
  padding-top: 0.6rem;
}

.hollow {
  background-color: var(--white);
  border: 1px solid var(--black);
}

.divider {
  background-color: var(--black);
  height: 4px;
  margin: 2rem 0;
}

.projects {
  margin-bottom: 2rem;
}

figure {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

/* figure + figure {
  margin-top: 1.5rem;
} */

figure > div {
  background-image: url('data:image/svg+xml,%3Csvg width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z" fill="%239C92AC" fill-opacity="0.4" fill-rule="evenodd"/%3E%3C/svg%3E');
  min-height: 264px;
}

figcaption {
  background-color: #00121970; /* Added Transparency - 70 */
  color: white;
  padding: 1rem;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

figcaption * {
  margin: 0.5rem;
}

figcaption h2 {
  font-size: var(--h5);
}

.one {
  background-color: #005f73;
}

.two {
  background-color: #9b2226;
}

.three {
  background-color: #ee9b00;
}

.four {
  background-color: #ee9b00;
}

#contact {
  text-align: center;
}

.services h2 {
  text-align: center;
}

.icon [class*="fa-"] {
  width: 100%;
  text-align: center;
  font-size: var(--h2);
}

/* 5. Footer
======================================== */

/* 6. Utilities
======================================== */

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* 7. Media Queries
======================================== */

/* Tablet */

@media only screen and (min-width: 550px) {
  /* Navigation */

  nav ul {
    justify-content: center;
    gap: 1.2em;
  }

  nav li {
    flex-basis: auto;
    margin-bottom: 0;
  }

  nav a {
    color: black;
    background-color: transparent;
  }

  /* .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2%;
  }

  figure + figure {
    margin-top: 0;
  }

  .main-fig {
    grid-column: span 2;
  } */
}

/* Desktop */

@media only screen and (min-width: 800px) {
  /* Navigation - logo in the  center */

  nav ul {
    justify-content: flex-end;
  }

  nav li:first-child {
    flex-basis: auto;
    margin: 0 auto;
    order: 2;
  }

  nav li:nth-child(2),
  nav li:nth-child(3) {
    order: 1;
  }

  nav li:nth-child(4),
  nav li:nth-child(5) {
    order: 3;
  }

  .hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 4rem 0;
  }

  .hero h1 {
    margin-bottom: 1.5rem;
  }

  .hero-txt {
    grid-column: span 6 / span 6;
    grid-row: span 3 / span 3;
  }

  .hero-txt h1 {
    width: 90%;
    margin-top: 1rem;
  }

  .hero-img {
    grid-column: span 6 / span 6;
    grid-row: span 3 / span 3;
    grid-column-start: 7;
    background-color: lightgray;
  }

  .button + .button {
    margin-left: 1.5rem;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;
  }

  .pro-1 {
    grid-column: span 3 / span 3;
  }

  .pro-2 {
    grid-column: span 3 / span 3;
    grid-column-start: 4;
  }

  .pro-3 {
    grid-column: span 3 / span 3;
    grid-column-start: 7;
  }

  .pro-4 {
    grid-column: span 3 / span 3;
    grid-column-start: 10;
  }

  .about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .about-img {
    grid-column: span 6 / span 6;
    grid-row: span 3 / span 3;
    background-color: lightgray;
  }

  .about-txt {
    grid-column: span 6 / span 6;
    grid-row: span 2 / span 2;
    grid-column-start: 7;
  }

  .services {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .branding {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
  }

  .art {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
  }

  .website {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 9;
  }
}
